/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body
{
    color: white;
    background-color: black;
}

img
{
    display: block;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style-type: none;
}

/* HEADER */
header
{
    height: 80px;
    text-align: right;
}

.header-icon
{
    background-color: rgba(74, 74, 74, 0.678);
    padding: 5px;
    border-radius: 5px;
}

/* MAIN */
main
{
    height: calc( 100vh - 160px );
    overflow-y: auto;
}

.card-container
{
    /* width: 90%;
    margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

.card
{
    /* width: calc( 90% / 7 ); */
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
}

.user-name
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(74, 74, 74, 0.678);
}

/* FOOTER */
footer
{
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons
{
    display: flex;
    align-items: center;
}

.footer-icons li
{
    margin: 0 7px;
    text-align: center;
}

.color-green
{
    color: green;
}

.end-meeting
{
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: red;
}