/* RESET */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img
{
    width: 100%;
}

a
{
    text-decoration: none;
}

/* HEADER */
header
{
    background-color: black;
    height: 80px;
    position: relative;
}

header>div
{
    position: absolute;
    top: 10px;
    right: 5px;
}

.bg-gray
{
    background-color: rgba(74, 74, 74, 0.678);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* MAIN */
main
{
    height: calc( 100vh - 180px );
    overflow-y: auto;
    /* test */
    background-color: black;
}

.card-container
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card
{
    width: calc( 90% / 7 );
    margin-bottom: 5px;
    position: relative;
}

.user-name
{
    position: absolute;
    color: white;
    bottom: 4px;
    left: 0;
    background-color: rgba(74, 74, 74, 0.678);
}

/* FOOTER */
footer
{
    /* test */
    background-color: bisque;
    height: 100px;
}